.navbar {
    margin: 1em 0;
    float: right;
    background-color: rgb(20, 133, 144);
}
.navbar a {
    text-decoration: none;
    margin: 0 20px 0 30px;
    margin-right:100px;
}

.lienns {
    margin-top: 34px;
}
.entete{
    position: fixed;
    top: 0;
    background-color: rgb(20, 133, 144);
    width: 100%;
    height: 50px;

    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.5) ;
}
a {
    color: rgb(255, 255, 255);
}
a:hover, .lien .active {
    color: rgb(0, 0, 0);
}
.titre_header {
    margin: 0.5em;
    font-family: Titre;
    color: lightskyblue;
    font-size: 1.5em;
}

a.text{
    color:skyblue;
    text-decoration:none;
}
h1.hobb{
    color:rgb(55,55,55);
    text-align:center;
    margin-top:20px;
}
h1{
  color:rgb(55, 55, 55);
  text-align:center; 
  margin-top:80px;
}
p.deb{
    color:rgb(165, 164, 164);
    text-align:center;
}
.titr{
    width:40px;
}
.minibox_table {
    display: flex;
    justify-content: center;
    background-color:rgb(208, 246, 255);

}

.minibox {
    flex: 1 1 25%; 
    margin: 0.5em;
    padding: 1px;
    background-color: rgba(145, 160, 161, 0.5);
    text-align: center;
    border-radius: 30px;
    max-width: 24%;
}
.minibox img {
    max-height: 150px;
}
.bas{
    background-color:rgb(58, 50, 45);
    width:100%;
    height:200px;
    margin:0;
}
.dessous{
    margin-left:50px;
    margin-top:0px;
    color:white;
    text-align:left;
}
.copyright{
    text-align:center;
    width:50px;
    height:50px;
    border:white solid 0.5px;
    background-color:rgb(82, 82, 82);
    margin-right:50%;
    margin-left:50%;
}
.des{
    text-decoration:none;
    color:white;
    text-align:center;
}
.des2{
    text-decoration:none;
    color:white;
    text-align:center;
    margin-left:40px;
}
iframe{
    margin-left:40%;
    width:400;
    height:700;
}
.PDF{
    margin:30px;
}
.competences{
	width:70%;
	background-color:white;
    margin-left:35%;
}
form{
    text-align:center;
}
